table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin-left: 15px;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    background-color: #cccccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td:first-child {
    width: 50%;
}

td:nth-child(2) {
    width: 25%;
}

td:last-child {
    width: 25%;
}